.card {
    width: 18rem;
    min-height: 32rem;
    overflow: hidden;
}

.price {
    border: 1px solid gray;
    border-radius: 10px;
    width: 25%;
    padding: 6px;
}

.cart {
    display: flex;
    flex-direction: row;

    button{
        font-size: xx-small;
    }
}