.btn {
    width: 45px;
    height: 45px;
}

/* .footer {
    //position: absolute;
    // bottom: 0;
    //: 50%;
    //margin: 0 auto;
    //height: 50px;
   // background-color: #fbf8ee;
   border-top: 0.5px solid #000;
   margin-top: 15px;
} */

.border {
    border-top: 0.5px solid #000;
    margin-top: 15px;
}